<mz-navbar>
  <mz-navbar-item-container>
    <mz-navbar-item>
      <div class="row">
        <div class="col l12">
          <b class="left">UK Customer Generator</b>
          <p class="left pos-relative nav-sub">Power by Jerzy Drozdz</p>
        </div>
      </div>
    </mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
<div class="row">
  <div class="col s6 m6">
    <mz-card>
      <mz-card-content>
        <div class="row">
          <div class="col l6">
            <div class="row">
              <div class="col l12">
                <div class="input-fields">
                  <div class="row">
                    <div class="col m3">
                      <span class="badge circled-badge green white-text right">1</span>
                    </div>
                    <div class="col m9">
                      How many customers do you need?<br/>
                      <input id="customersCount" type="number" [value]="recordsCount"
                             (change)="recordsCount = counter.value" #counter class="pos-relative bottom1vh"
                             style="width: 2vw"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col l12">
                <div class="input-fields">
                  <div class="row">
                    <div class="col m3">
                      <span class="badge circled-badge green white-text right">2</span>
                    </div>
                    <div class="col m9">
                      <button class="btn btn-block" (click)="proceed()">Fetch data</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col l6">
            <div class="row">
              <div class="row">
                <div class="col l12">
                  <div class="input-fields">
                    <div class="row">
                      <div class="col m3">
                        <span class="badge circled-badge green white-text right">3</span>
                      </div>
                      <div class="col m9">
                        <button class="btn btn-block" [disabled]="customers.length === 0" (click)="fixPostCodes()">Fix
                          postcodes
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col l12">
                <div class="input-fields">
                  <div class="row">
                    <div class="col m3">
                      <span class="badge circled-badge green white-text right">4</span>
                    </div>
                    <div class="col m9">
                      <button class="btn btn-block" (click)="saveAs()" [disabled]="!postcodesFixed">Save as...</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mz-card-content>
    </mz-card>
  </div>
  <div class="row">
    <div class="col l12 m6">
      <div class="pos-relative">
        <app-loader></app-loader>
      </div>
      <table id="customers">
        <thead>
        <tr>
          <th *ngFor="let header of tableHeaders">{{header}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of customers">
          <td *ngFor="let cell of tableHeaders">{{ row[cell] }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

